body {
    background-color: cadetblue;
}
.text1 {
    color: chocolate;
}
.text2 {
    color: darkred;
}
.text3 {
    color: darkolivegreen;
}
.text4 {
    color: darkorchid;
}
.text5 {
    color: deeppink;
}
a:link {
    color: black;
    font-size: 24px;
    
    border-radius: 9px;
    padding: 3px;
    text-decoration: none;
}
a:hover {
    background-color: white;
    font-size: 26px;
    color: blue;
}
a:active {
    font-size: 23px;
    background-color: black;
    color: red;
}
.tabela {
    border: red solid 2px;
}
.galerija {
    border: black solid 0px;
}
.animacija:hover {
    width: 300px;
    height: 250px;
    opacity: 0.6;
}
